@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

// Typography
$font-family: 'Montserrat';
$font-stack: $font-family, Helvetica, sans-serif;

// Colors
$bg-color: #191a19;
$text-color: #ccc;
