{% extends 'outback/base.html' %}

{% block content %}
  <div class="container border">
    <header class="row">
      <div class="col">
        <p>{{space.name}}</p>
      </div>
    </header>

    <main class="row mt-auto">
      <div class="feed col">
        <p>{{space.description}}</p>
      </div>
    </main>

    <footer class="row">
      <form class="console col" autocomplete="off">
        <div class="from-group">
          <input class="form-control prompt" type="text" name="prompt" autofocus>
        </div>
      </form>
    </footer>
  </div>
{% endblock %}
