{% extends 'outback/base.html' %}

{% block content %}
  <div class="container">
    <header class="row justify-content-center">
      <div class="col-9">
        <p class="name">
          {# {{place.name}} #}
          void
        </p>
      </div>
    </header>

    <main class="row mt-auto justify-content-center">
      <div class="backlog col-9">
        {# log is injected here through js #}
      </div>
    </main>

    <footer class="row mt-3 justify-content-center">
      <form class="terminal col-9" method="post" autocomplete="off" novalidade>
        {% csrf_token %}

        <div class="from-group">
          <input class="form-control prompt" type="text" name="prompt" autofocus>
        </div>
      </form>
    </footer>
  </div>
{% endblock %}
